.front-block {
  /*background-color: #3498db;*/
  background:
  linear-gradient(
      rgba(52, 152, 219, 0.45),
      rgba(52, 152, 219, 0.45)
    ),
    url(../img/rsz_city.png);
  min-height: 40em;
  max-height: 40em;
}
.front-block h1 {
  margin-top: 2.5em;
}
.front-block a {
  margin-top: 5em;
}

.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
    visibility: hidden
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUp, .fadeInLeft, .fadeInRight, .bounceInDown, .slideInLeft, .zoomIn {
    visibility: visible
}
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay-105s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}



.btn-xlarge {
    padding: 18px 28px;
    font-size: 33px;
    line-height: normal;
    margin-top: 1em;
}

.whys h2 {
  padding-top: 1em;
}

.footer {
  background-color: #3498db;
  height: 100%;
}
.footer a {
  color: #ffffff;
}



.projects .project-item {
  margin-bottom: 20px;
  /*margin-left: 10px;*/
  padding: 10px;
}
.picture {
	position: relative;
}
.picture a {
	display: block;
	position: relative;
}
.picture .project-description {
	padding: 5px 15px 5px 15px;
	border: none;
	margin-top: 1px;
	background: transparent;
	font-size: 12px;
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.picture .project-description a {
	color: #414141;
	font-size: 15px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.picture img {width: 100%; height: auto; border: 1px solid #f6f6f6}
.image-overlay-link {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 40;
	display: none;
	background-color: #222;
	background: rgba(0, 0, 0, .6);
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;
}
.image-overlay-link {
	background-image: url(../img/overlay-icon-1.png);
}




#filters {
	text-align: center;
	right: 0;
	margin: 0px 0px 10px 0px;
	font-size: 16px;
	text-shadow: 0px 1px 1px #fff;
	color: #666;
	position: relative;
}

#filters ul li {
	display: inline;
}

#filters a {
	padding: 5px 10px;
	display: inline-block;
	color: #666;
	margin: 0 5px 10px 0;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

#filters a:hover,
.selected {
	color: #080808 !important;
	border-bottom: 1px solid #080808 !important;
	text-decoration: none;
}
