html, body {
    background-color: #4DD0E1;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

nav ul {
    padding-left: 2em;
    padding-top: 1em;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 2em;
    font-size: 1.3em;
}

#header {
    padding-top: 1.5em;
}

form {
    margin: 0 auto;
    padding-top: 2em;
}

input {
    border-width: 0px;
}

button {
    color: #F4FFFD; font-weight:300; background-color: #D06E6E;
}

h1, h2, h3, p{
	text-align: center;
}

a{
	text-decoration: none;
	color:#000000;
}

.center{
	text-align:center;
}

.white{
	background-color: #FFFFFF;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;	
}

.margin-left{
	margin-left: 1em;
}

