a{
	text-decoration:none;
}

body{
	margin:0;
	background-color:#eeeeee;
}

.button{
	margin:10px;
	width:176px;
	height:26px;
	text-align:center;
	background-color:white;
	padding:12px;
	font-size:16px;
}

.comment_div{
	padding:8px;
}
.lateral{
	background:none;
	position:absolute;
	bottom:8;
	right:8;
	border:0;
	cursor:pointer;
	outline:none;
}
.lateral:hover{
	color:#999999;
}

.profile{
	width:30%;
	position:fixed;
	left:5%;
	padding-left:16px;
}



#profile_pic{
	margin-top:32px;
	border:10px solid white;
}

.projects_a{
	margin:8px;
	width:350px;
	height:200px;
	padding:8px;
	background-color:white;
	position:relative;
	float:left;
}


.shadow{
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.2s ease-in-out;
}
.shadow:hover{
	-moz-box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.sup {
	background-color:#3498db;
	width:100%;
	padding-top: 1em;
	padding-bottom: .2em;
}
.sup li {
	list-style: none;
	display: inline-block;
	padding-right: 2em;
}

.sup a{
	color: #FFF !important;
}

.sup a:hover{
	text-decoration: none;
	color: #D8D8D8 !important; 
}

.tags{
	color:#999999;
}